<li>
<%= link_to (image_tag feed_item.user.image_url, :size => "50x50", :id=>"feedpicture"), feed_item.user, :title=> feed_item.user.username %>
<span class="content"><%= message.content %></span>
<span class="timestamp">
  <% if current_user?(message.sender) %>
    Sent to <%= link_to message.recipient.username, message.recipient %>
  <% else %>
    Sent by <%= link_to message.sender.username, message.sender %>
  <% end %>
  <%= time_ago_in_words(message.created_at) %> ago
</span>
</li>
