<% if signed_in? %>
<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navigatebar-inner">
  <div class="container">
    <nav>
      <%= link_to image_tag("icon.png", :id=> "logo"), root_path  %>
    <ul class="nav pull-right menu">
      
      <li><%= render 'shared/user_navb'%></li>
      <li><%= link_to image_tag("2.png", :size => "20x20", :id=>"usernavb" ), root_path, :id=> "text" %></li>
        <li><%= link_to image_tag("1.png", :size => "20x20", :id=>"usernavb")  , users_path, :id=> "text" %></li>
        <li id="msg-menu" class="dropdown">
          <a href="#" class = "dropdown-toggle" data-toggle="dropdown" style="color: #ffffff;background-color: #212121">
            <%= image_tag("5.png", :size => "20x20", :id=>"usernavb") %>
          </a>
          <ul class="dropdown-menu menu">
            <li><%= link_to "Inbox", messages_to_user_path(current_user) %></li>
            <li><%= link_to "Outbox", messages_from_user_path(current_user) %></li>
          </ul>
        <li id="fat-menu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #ffffff;background-color: #212121">
             <%= image_tag("3.png", :size => "20x20", :id=>"usernavb") %>
          </a>
          <ul class="dropdown-menu menu">
           
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>            <li class="divider"> </li>
            <li>
            <%= link_to "Sign out", signout_path, :method=> :delete %>
            </li>
          </ul>
        </li>
    </ul>
    </nav>
  </div>
</div>
</header>
<% end %>